antlr4-python3-runtime==4.8
bitarray==2.4.0
cffi==1.15.0
colorama==0.4.4
Cython==0.29.28
hydra-core==1.0.7
importlib-resources==5.4.0
numpy==1.21.5
omegaconf==2.0.6
portalocker==2.4.0
pycparser==2.21
PyYAML==6.0
regex==2022.3.15
sacrebleu==2.0.0
tabulate==0.8.9
torch==1.11.0
torchaudio==0.11.0
tqdm==4.63.1
typing-extensions==4.1.1
zipp==3.7.0
